<% if resource.errors.any? %>

  <div class="alert alert-danger" role="alert">
      <h4> El usuario/a no puede ser guardado </h4>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
